<div class="card mb-3" style="border:none !important">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-4 col-lg-12 bg-info"><img class="img-responsive" [src]="imageUrl" [alt]="imageAlt">
            </div>
            <div class="col-12 col-sm-8 col-lg-12 mt-1">
                <h5 class="">{{wo.weatherMain}}</h5>
                <small class="mt-0">Especially, in your region prevail(s) {{ wo.weatherDesc }}.</small>
            </div>
            <hr class="headers">
        </div>
        <div class="card-text mt-2">
            <p class="" *ngIf="wo?.temperature">The temperature is <span class="font-weight-bold preety-text ">{{ wo.temperature }} <sup class="font-weight-bold preety-text ">o</sup>C</span></p>
            <p class="" *ngIf="wo?.windSpeed">The windSpeed is <span class="font-weight-bold preety-text ">{{ wo.windSpeed }} meter/sec</span></p>
            <p class="" *ngIf="wo?.windDeg">The direction is <span class="font-weight-bold preety-text ">{{ wo.windDeg | number:'1.0-0' }} degrees</span></p>
            <p class="" *ngIf="wo?.clouds">The cloud percentage is <span class="font-weight-bold preety-text ">{{ wo.clouds }}%</span></p>
            <p class="" *ngIf="wo?.rain1">The rain volume for the last 1 hour is <span class="font-weight-bold preety-text ">{{ wo.rain1 }} mm </span></p>
            <p class="" *ngIf="wo?.rain3">The rain volume for the last 3 hours is <span class="font-weight-bold preety-text ">{{ wo.rain3 }} mm</span></p>
            <p class="" *ngIf="wo?.snow1">The snow volume for the last 1 hour is <span class="font-weight-bold preety-text ">{{ wo.snow1 }} mm</span></p>
            <p class="" *ngIf="wo?.snow3">The snow volume for the last 3 hours is <span class="font-weight-bold preety-text ">{{ wo.snow3 }} mm</span></p>
            <p class="" *ngIf="wo?.pressure">The atmospheric pressure is <span class="font-weight-bold preety-text ">{{ wo.pressure }} hPa</span></p>
            <p class="" *ngIf="wo?.humidity">The percentage of humidity is <span class="font-weight-bold preety-text ">{{ wo.humidity }}%</span></p>
        </div>
        <div class="d-flex flex-column">
        <button type="button" (click)="getForecast()" class="btn btn-sm btn-info m-1" >Get forecast</button>
        <button type="button" (click)="discardForecast()" class="btn btn-sm btn-danger m-1" *ngIf="toggleBtn">Discard forecast</button>
        </div>
    </div>
</div>