<div class="card mb-3" style="border:none !important">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-4 col-lg-12 bg-info"><img class="img-responsive" [src]="imageUrl" [alt]="imageAlt">
            </div>
            <div class="col-12 col-sm-8 col-lg-12 mt-1">
                <h5 class="">{{wo.weatherMain}}</h5>
                <small class="mt-0">Especially, in your region prevail(s) {{ wo.weatherDesc }}.</small>
            </div>
            <hr class="headers">
        </div>
        <div class="card-text mt-2">
            <p class="" *ngIf="wo?.temperature">The temperature is <span class="font-weight-bold preety-text ">{{ wo.temperature }} <sup class="font-weight-bold preety-text ">o</sup>C</span></p>
            <p class="" *ngIf="wo?.windSpeed">The windSpeed is <span class="font-weight-bold preety-text ">{{ wo.windSpeed }} meter/sec</span></p>
            <p class="" *ngIf="wo?.windDeg">The direction is <span class="font-weight-bold preety-text ">{{ wo.windDeg | number:'1.0-0' }} degrees</span></p>
            <p class="" *ngIf="wo?.clouds">The cloud percentage is <span class="font-weight-bold preety-text ">{{ wo.clouds }}%</span></p>
            <p class="" *ngIf="wo?.rain1">The rain volume for the last 1 hour is <span class="font-weight-bold preety-text ">{{ wo.rain1 }} mm </span></p>
            <p class="" *ngIf="wo?.rain3">The rain volume for the last 3 hours is <span class="font-weight-bold preety-text ">{{ wo.rain3 }} mm</span></p>
            <p class="" *ngIf="wo?.snow1">The snow volume for the last 1 hour is <span class="font-weight-bold preety-text ">{{ wo.snow1 }} mm</span></p>
            <p class="" *ngIf="wo?.snow3">The snow volume for the last 3 hours is <span class="font-weight-bold preety-text ">{{ wo.snow3 }} mm</span></p>
            <p class="" *ngIf="wo?.pressure">The atmospheric pressure is <span class="font-weight-bold preety-text ">{{ wo.pressure }} hPa</span></p>
            <p class="" *ngIf="wo?.humidity">The percentage of humidity is <span class="font-weight-bold preety-text ">{{ wo.humidity }}%</span></p>
        </div>
        <div class="d-flex flex-column">
        <button type="button" (click)="getForecast()" class="btn btn-sm btn-info m-1" >Get forecast</button>
        <button type="button" (click)="discardForecast()" class="btn btn-sm btn-danger m-1" *ngIf="toggleBtn">Discard forecast</button>
        </div>
    </div>
</div>



<!-- api.openweathermap.org/data/2.5/weather?lat=35&lon=13
If you do not see some of the parameters in your API response it means 
that these weather phenomena are just not happened for the time of measurement for the city or location chosen. Only really measured or calculated data is displayed in API response.
{"coord":{"lon":145.77,"lat":-16.92},
"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],
"base":"cmc stations",
"main":{"temp":293.25,"pressure":1019,"humidity":83,"temp_min":289.82,"temp_max":295.37},
"wind":{"speed":5.1,"deg":150},
"clouds":{"all":75},
"rain":{"3h":3},
"dt":1435658272,
"sys":{"type":1,"id":8166,"message":0.0166,"country":"AU","sunrise":1435610796,"sunset":1435650870},
"id":2172797,
"name":"Cairns",
"cod":200}

coord
coord.lon City geo location, longitude
coord.lat City geo location, latitude
weather (more info Weather condition codes)
weather.id Weather condition id
weather.main Group of weather parameters (Rain, Snow, Extreme etc.)
weather.description Weather condition within the group
weather.icon Weather icon id
base Internal parameter
main
main.temp Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
main.pressure Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa
main.humidity Humidity, %
main.temp_min Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
main.temp_max Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
main.sea_level Atmospheric pressure on the sea level, hPa
main.grnd_level Atmospheric pressure on the ground level, hPa
wind
wind.speed Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.
wind.deg Wind direction, degrees (meteorological)
clouds
clouds.all Cloudiness, %
rain
rain.1h Rain volume for the last 1 hour, mm
rain.3h Rain volume for the last 3 hours, mm
snow
snow.1h Snow volume for the last 1 hour, mm
snow.3h Snow volume for the last 3 hours, mm
dt Time of data calculation, unix, UTC
sys
sys.type Internal parameter
sys.id Internal parameter
sys.message Internal parameter
sys.country Country code (GB, JP etc.)
sys.sunrise Sunrise time, unix, UTC
sys.sunset Sunset time, unix, UTC
id City ID
name City name
cod Internal parameter
Rain item is showing "1h" in the case when data are received from weather stations directly. 
The fact is that some METAR stations do not have precipitation indicators or do not measure precipitation conditions due to some other technical reasons. 
In this case, we use model data. So, rain item is showing "3h" when our system returns an API response based on model data. -->