    <h3>all</h3>
    <p>information:      
      <span>i) point: coordinates</span>
      <span>ii) polyline: length</span>
      <span>iii) polygon: area space</span>
    </p>    
    <hr>  
    <p>get current/future weather conditions </p>
    <hr>
    <p>get air quality measurements/acid rain occurrence</p>
    <h3>foresters</h3>
    <p>get fire danger </p>
    <h3>farmers</h3>         
    <p>get quality of soil </p>
    <p>get water availability</p>
    <p>be informed for any pest or diseases</p>        


  <!-- Openweathermap
andrfilippp@hotmail.com / agent100agent
fdf3690158d951e8c0031cb22966f666 -->

<!-- If API call is succefull - 200 HTTP-code is returned. If location is not found or wrong APPID is specified then HTTP-code 404 or HTTP-code 400 are returned accordingly. -->

<!-- For temperature in Celsius use units=metric -->

<!-- icons -->
<!-- https://openweathermap.org/weather-conditions -->
<!-- http://openweathermap.org/img/w/10d.png -->

<!-- api.openweathermap.org/data/2.5/weather?lat=35&lon=13
If you do not see some of the parameters in your API response it means 
that these weather phenomena are just not happened for the time of measurement for the city or location chosen. Only really measured or calculated data is displayed in API response.
{"coord":{"lon":145.77,"lat":-16.92},
"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],
"base":"cmc stations",
"main":{"temp":293.25,"pressure":1019,"humidity":83,"temp_min":289.82,"temp_max":295.37},
"wind":{"speed":5.1,"deg":150},
"clouds":{"all":75},
"rain":{"3h":3},
"dt":1435658272,
"sys":{"type":1,"id":8166,"message":0.0166,"country":"AU","sunrise":1435610796,"sunset":1435650870},
"id":2172797,
"name":"Cairns",
"cod":200}

coord
coord.lon City geo location, longitude
coord.lat City geo location, latitude
weather (more info Weather condition codes)
weather.id Weather condition id
weather.main Group of weather parameters (Rain, Snow, Extreme etc.)
weather.description Weather condition within the group
weather.icon Weather icon id
base Internal parameter
main
main.temp Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
main.pressure Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa
main.humidity Humidity, %
main.temp_min Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
main.temp_max Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
main.sea_level Atmospheric pressure on the sea level, hPa
main.grnd_level Atmospheric pressure on the ground level, hPa
wind
wind.speed Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.
wind.deg Wind direction, degrees (meteorological)
clouds
clouds.all Cloudiness, %
rain
rain.1h Rain volume for the last 1 hour, mm
rain.3h Rain volume for the last 3 hours, mm
snow
snow.1h Snow volume for the last 1 hour, mm
snow.3h Snow volume for the last 3 hours, mm
dt Time of data calculation, unix, UTC
sys
sys.type Internal parameter
sys.id Internal parameter
sys.message Internal parameter
sys.country Country code (GB, JP etc.)
sys.sunrise Sunrise time, unix, UTC
sys.sunset Sunset time, unix, UTC
id City ID
name City name
cod Internal parameter
Rain item is showing "1h" in the case when data are received from weather stations directly. 
The fact is that some METAR stations do not have precipitation indicators or do not measure precipitation conditions due to some other technical reasons. 
In this case, we use model data. So, rain item is showing "3h" when our system returns an API response based on model data. -->




<!-- forecast -->
<!-- api.openweathermap.org/data/2.5/forecast?lat=35&lon=139 -->
<!-- code Internal parameter
message Internal parameter
city
city.id City ID
city.name City name
city.coord
city.coord.lat City geo location, latitude
city.coord.lon City geo location, longitude
city.country Country code (GB, JP etc.)
cnt Number of lines returned by this API call
list
list.dt Time of data forecasted, unix, UTC
list.main
list.main.temp Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
list.main.temp_min Minimum temperature at the moment of calculation. This is deviation from 'temp' that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
list.main.temp_max Maximum temperature at the moment of calculation. This is deviation from 'temp' that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.
list.main.pressure Atmospheric pressure on the sea level by default, hPa
list.main.sea_level Atmospheric pressure on the sea level, hPa
list.main.grnd_level Atmospheric pressure on the ground level, hPa
list.main.humidity Humidity, %
list.main.temp_kf Internal parameter
list.weather (more info Weather condition codes)
list.weather.id Weather condition id
list.weather.main Group of weather parameters (Rain, Snow, Extreme etc.)
list.weather.description Weather condition within the group
list.weather.icon Weather icon id
list.clouds
list.clouds.all Cloudiness, %
list.wind
list.wind.speed Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.
list.wind.deg Wind direction, degrees (meteorological)
list.rain
list.rain.3h Rain volume for last 3 hours, mm
list.snow
list.snow.3h Snow volume for last 3 hours
list.dt_txt Data/time of calculation, UTC -->

<!-- UV -->
<!-- api.openweathermap.org/data/2.5/uvi?lat=37.75&lon=-122.37 -->
<!-- api.openweathermap.org/data/2.5/uvi/forecast?lat=37.75&lon=-122.37 -->
<!-- The data is available for 8 days ahead. -->
<!-- lat  float - latitude for returned data 
  lon  float -  longitude for returned data 
  date_iso  string - date and time corresponding to returned date date  
  integer - ISO 8601 timestamp value  float - ultraviolet index  https://en.wikipedia.org/wiki/Ultraviolet_index -->

  <!-- Carbon Monoxide Data -->
  <!-- http://api.openweathermap.org/pollution/v1/co/{location}/{datetime}.json?appid={api_key} -->
  <!-- location Location coordinates 
    datetime ISO 8601 date or alias 
    api_key Your API key -->

    <!-- Digits beyond decimal point to search radius
No decimal part ~78 km 1 digit 7862 m 2 digits 786 m 3 digits 78 m 4 digits 8 m 5 digits 1 m
Examples: -->
<!-- http://api.openweathermap.org/pollution/v1/co/0.0,10.0/2016-03-01Z.json?appid={your-api-key} 1 digit (~7862m) 
  http://api.openweathermap.org/pollution/v1/co/0.000,10.000/2016-03-01Z.json?appid={your-api-key} 3 digits (78m) -->
  <!-- Date format -->
  <!-- ISO 8601 -->
  <!-- Date values -->
<!-- 2016-01-02T15:04:05Z searches between 2016-01-02T15:04:05Z and 2016-01-02T15:04:05.9999Z 2016-01-02T15:04Z searches between 2016-01-02T15:04:00Z and 2016-01-02T15:04:59.9999Z 2016-01-02T15Z searches between 2016-01-02T15:00:00Z and 2016-01-02T15:59:59.9999Z 2016-01-02Z searches between 2016-01-02T00:00:00Z and 2016-01-02T23:59:59.9999Z 2016-01Z searches between 2016-01-01T00:00:00Z and 2016-12-31T23:59:59.9999Z 2016Z searches between 2016-01-01T00:00:00Z and 2016-12-31T23:59:99.9999Z -->
<!-- Available aliases
current  Searches for the latest available data point up until now
Example
http://api.openweathermap.org/pollution/v1/co/0.0,10.0/current.json?appid={your-api-key} -->
<!-- Server response format
time  ISO 8601 timestamp - date and time corresponding to returned data location  object - location for which data is provided
latitude  float - latitude for returned data longitude  float - longitude for returned data
data  array of objects - carbon monoxide information
value  float - carbon monoxide volume mixing ratio pressure  float - atmospheric pressure at the point of measurement, hPa. Recommended for scientific use at pressure levels between 215 and 0.00464 hPa precision  float - measurement precision -->

<!-- Weather Alerts -->
<!-- https://openweathermap.org/triggers -->
<!-- T(°C) = T(K) - 273.15 -->