<div class="jumbotron py-2 mb-1"><span [innerHTML]="type=='point' ? 'Your point coordinates are:' : 'Your polygon\'s centroid coordinates are:'"></span><br>
  <span class="preety-text font-weight-bold"> longitude <span class="font-weight-normal" style="color:initial">=</span>
    {{ longitude }} <br>latitute <span class="font-weight-normal" style="color:black">=</span> {{ latitude }} </span><br>
  <button class="btn btn-success btn-sm m-2" type="button" (click)="goToSoilData()">Get Soil Data</button>
</div>
<div *ngIf="wo" class="jumbotron py-2 mb-1">
  <h5 class="mb-0">Information about your region, {{ wo.region}}:</h5>
  <small class="">(The time of the calculation was {{ wo.dt * 1000 | date:'EEEE, dd/MM/yyyy, HH:mm z' }})</small>
  <p class="mb-1">Sunrise time: <span class="px-1 preety-text font-weight-bold">{{ wo.sunrise * 1000 | date:'HH:mm:SS
      a' }}</span></p>
  <p class="mb-0">Sunset time: <span class="px-1 preety-text font-weight-bold">{{ wo.sunset * 1000 | date:'HH:mm:SS a'
      }}</span></p>
</div>
<app-weather-template *ngIf="wo" [weatherObject]="wo"></app-weather-template>




<!-- Openweathermap
andrfilippp@hotmail.com / agent100agent
fdf3690158d951e8c0031cb22966f666 -->

<!-- If API call is succefull - 200 HTTP-code is returned. If location is not found or wrong APPID is specified then HTTP-code 404 or HTTP-code 400 are returned accordingly. -->

<!-- For temperature in Celsius use units=metric -->

<!-- icons -->
<!-- https://openweathermap.org/weather-conditions -->
<!-- http://openweathermap.org/img/w/10d.png -->




<!-- UV -->
<!-- api.openweathermap.org/data/2.5/uvi?lat=37.75&lon=-122.37 -->
<!-- api.openweathermap.org/data/2.5/uvi/forecast?lat=37.75&lon=-122.37 -->
<!-- The data is available for 8 days ahead. -->
<!-- lat  float - latitude for returned data 
  lon  float -  longitude for returned data 
  date_iso  string - date and time corresponding to returned date date  
  integer - ISO 8601 timestamp value  float - ultraviolet index  https://en.wikipedia.org/wiki/Ultraviolet_index -->

<!-- Carbon Monoxide Data -->
<!-- http://api.openweathermap.org/pollution/v1/co/{location}/{datetime}.json?appid={api_key} -->
<!-- location Location coordinates 
    datetime ISO 8601 date or alias 
    api_key Your API key -->

<!-- Digits beyond decimal point to search radius
No decimal part ~78 km 1 digit 7862 m 2 digits 786 m 3 digits 78 m 4 digits 8 m 5 digits 1 m
Examples: -->
<!-- http://api.openweathermap.org/pollution/v1/co/0.0,10.0/2016-03-01Z.json?appid={your-api-key} 1 digit (~7862m) 
  http://api.openweathermap.org/pollution/v1/co/0.000,10.000/2016-03-01Z.json?appid={your-api-key} 3 digits (78m) -->
<!-- Date format -->
<!-- ISO 8601 -->
<!-- Date values -->
<!-- 2016-01-02T15:04:05Z searches between 2016-01-02T15:04:05Z and 2016-01-02T15:04:05.9999Z 2016-01-02T15:04Z searches between 2016-01-02T15:04:00Z and 2016-01-02T15:04:59.9999Z 2016-01-02T15Z searches between 2016-01-02T15:00:00Z and 2016-01-02T15:59:59.9999Z 2016-01-02Z searches between 2016-01-02T00:00:00Z and 2016-01-02T23:59:59.9999Z 2016-01Z searches between 2016-01-01T00:00:00Z and 2016-12-31T23:59:59.9999Z 2016Z searches between 2016-01-01T00:00:00Z and 2016-12-31T23:59:99.9999Z -->
<!-- Available aliases
current  Searches for the latest available data point up until now
Example
http://api.openweathermap.org/pollution/v1/co/0.0,10.0/current.json?appid={your-api-key} -->
<!-- Server response format
time  ISO 8601 timestamp - date and time corresponding to returned data location  object - location for which data is provided
latitude  float - latitude for returned data longitude  float - longitude for returned data
data  array of objects - carbon monoxide information
value  float - carbon monoxide volume mixing ratio pressure  float - atmospheric pressure at the point of measurement, hPa. Recommended for scientific use at pressure levels between 215 and 0.00464 hPa precision  float - measurement precision -->

<!-- Weather Alerts -->
<!-- https://openweathermap.org/triggers -->
<!-- T(°C) = T(K) - 273.15 -->