<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-2">
      <!-- Select type of graphic. Also, edit its shape or delete it.-->
      <label for="esri-icons-navbar" class="font-weight-bold row">Actions:</label>
      <section class="text-left row justify-content-between" id="esri-icons-navbar">
        <div class="col-12 col-sm-4 col-lg-6">
        <button class="action-button esri-icon-blank-map-pin mr-1 mb-1" type="button" title="Draw a point" id="pointButton"
          #pointButton (click)="drawGrahic($event)"></button>
        <button class="action-button esri-icon-polyline mr-1 mb-1" type="button" title="Draw a polyline" id="polylineButton"
          #polylineButton (click)="drawGrahic($event)"></button>
        <button class="action-button esri-icon-polygon mb-1" type="button" title="Draw a polygon" id="polygonButton"
          #polygonButton (click)="drawGrahic($event)"></button>
        </div>
        <div class="col-12 col-sm-4 col-lg-6">
            <button class="action-button esri-icon-edit mr-1 mb-1" type="button" title="Edit graphic's shape" id="editButton"
          #resetButton (click)="drawGrahic($event)"></button>
        <button class="action-button esri-icon-erase mr-1 mb-1" type="button" title="Delete a graphic" id="resetButton"
          #resetButton (click)="drawGrahic($event)"></button>
        <button class="action-button esri-icon-trash" type="button" title="Delete Map!"
          (click)="deleteGraphics()"></button>
        </div>
      </section>
      <!-- Change comments/title/color of a graphic-->
      <hr>
      <section>
        <button class="btn btn-sm dropdown-toggle btn-info" type="button" data-toggle="collapse"
          data-target="#editgraphicarea" aria-expanded="false" aria-controls="editgraphicarea">Edit
          graphic&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <fieldset id="editgraphicarea" class="collapse mt-2" style="margin-left: 15px; margin-right: 15px;">
          <div class="row">
            <label for="changeTitle" class="font-weight-bold col-12">Title:</label>
            <input class="col-12" id="changeTitle" maxlength="30" [value]="selectedGraphic?.attributes?.title" />
          </div>
          <div class="row mt-2">
            <label for="changeComments" class="font-weight-bold col-12">Comments:</label>
            <textarea class="col-12" id="changeComments" maxlength="250" rows="6" style="overflow:auto"
              [value]="selectedGraphic?.attributes?.comments"></textarea>
          </div>
          <div class="row mt-2">
            <label for="areaColor" class="font-weight-bold col-6">Select color:</label>
            <input type="color" id="color" name="color" class="col-6" #chooseColor2
              [value]="selectedGraphic?.symbol?.color.toHex()" />
          </div>
          <div class="d-flex flex-row-reverse my-1">
            <button class="btn btn-info btn-sm px-3" type="button" title="" id=""
              (click)="editTheGraphic(chooseColor2.value)" style="margin-right:-15px;">Save</button>
          </div>          
        </fieldset>
        <hr>
        <p class="hide" style="color:green; font-weight: bold" id="succesEditedGraphicEl">Graphic saved!</p>
        <p class="hide" style="color:red; font-weight: bold" id="errorEditedGraphicEl">Error in saving graphic!</p>
      </section>      
      <div *ngIf="index&&index!=undefined" class="fireClass">
        <p *ngIf="index&&index!=-1" class="text-center font-weight-bold">Fire index: <span
            class="fireIndex">{{ index }}</span> {{indexDescription}}</p>
        <p *ngIf="index&&index==-1" class="text-center">Fire index was not found for this region.</p>
      </div>
      <hr *ngIf="index">
    </div>
    <!-- map -->
    <main class="col-lg-10">
      <div class="row">
        <section class="col-lg-9 my-3 my-lg-0">
          <div id="mapViewNode" #mapViewNode>
            <span class="esri-icon-handle-vertical terrains myIcons p-3" title="Change terrains"></span>
            <span class="esri-icon-download myIcons p-3" title="Extract map" id="myPrintIcon"></span>
          </div>
        </section>
        <!-- section data from external apis-->
        <section class="col-lg-3">
          <app-polyline-information [polylineLength]="polylineLength" *ngIf="polylineLength"></app-polyline-information>
          <app-polygon-information [area]="area" [areaIndex]="areaIndex" *ngIf="area"></app-polygon-information>
          <app-area-information [latitude]="latitude" [longitude]="longitude" [selectedGraphic]="selectedGraphic"
            [type]="type" *ngIf="type && latitude && longitude && selectedGraphic"></app-area-information>
        </section>
        <section class="col-12">
          <div class="row">
            <ngb-tabset id="forecasts">
              <ngb-tab *ngFor="let wo of wos">
                <ng-template ngbTabTitle>{{ wo.dt * 1000 | date:'dd/MM - HH:mm' }}</ng-template>
                <ng-template ngbTabContent>
                  <app-weather-template-forecast [wo]="wo" [isIndexAvailable]="isIndexAvailable">
                  </app-weather-template-forecast>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>
<!-- end container-fluid -->