
<h1 class="text-center bg-light p-5">Welcome to my <br>"Decision Support System for Agriculture and Forest Management"</h1>
<div class="container-fluid mt-3">
    <main class="m-auto">
        <h3 class="mx-3">Abilities:</h3> 
        <ul>              
          <li class="py-1">Design your map by drawing graphics of your choice:
              <ul class="pt-1">
                  <li>Points</li>
                  <li>Polylines</li>
                  <li>Polygons</li>
              </ul>
              <p class="pt-2">You can edit their title, comments and color as well.</p>
          </li>
          <li class="pb-1">Get current/future weather information for a selected area.</li>
          <li class="py-1">Get current/future Fire Weather Index for a selected area.</li>
          <li class="py-1">Get quality of soil and recommendations for a selected area.</li>
          <li class="py-1">Download your map.</li>
          <li class="py-1">Toggle between different kind of layers.</li>
        </ul>        
    </main>
      
</div>
