
<h1 class="text-center bg-light p-5">Welcome to my {{ title }}</h1>
<div class="container-fluid mt-5">
    <main class="m-auto">
        <h5 class="mx-3">With this you can:</h5> 
        <ul>              
          <li class="py-2">Select an area in a map and get details about it</li>
          <li class="py-2">Monitor current weather conditions in a selected area</li>
          <li class="py-2">Get forecasts about weather conditions in a selected area</li>
        </ul>

        <ol>
        <li style="text-decoration: line-through;">select an area on a map,draw subareas in a selected area, write comments for each selected area and subarea, in icons on the areas,draw different layers of my choice in a selected area,
          </li>
          <li> get air quality measurements for a selected area
            </li>
        <li> get informed about the kind of selected region
            </li>
        <li>get fire danger measurements for a selected area
        </li>
        <li>get current and future weather condition mapping for a selected area,       get notifications if there is going to be extreme hazardous phenomena (droughts, floods, high/low temperature, strong winds, hail)
            </li>
        <li>get quality of soil measurements for a selected area
        </li>
        <li>      be informed for any possible acid rain occurrence
        </li>
        <li>      get water availability for a selected area
        </li>
        <li> be informed for any pests or diseases in my crops,
            know if my crops are suitable for the environment</li>
        <li></li>
        <li>more layers - toggling maps</li>
        </ol>
    </main>
      
</div>
