.card:hover {
    box-shadow: 0px 0px 1px 1px #17a2b8;
}

hr.headers {
    border: 1px solid #17a2b8;
    width:100%;
}

div.bg-info {
    max-height: 80px;
}

.card {
    background-color: #e9ecef;
}

.preety-text {
    background-color: #17a2b8;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

.fireClass {
    padding-top: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: black;
    background: #dc3545;
    color: white;
  }
  
  .fireIndex {
    font-size: 120%;
  }