<div class="card mb-3" style="border:none !important">
    <div class="card-body">
        <div class="row">
            <h3 class="">Forecast for {{ wo.dt * 1000 | date:'EEEE, dd/MM/yyyy, HH:mm' }}</h3>
            <div class="col-12 col-sm-4 col-lg-12 bg-info"><img class="img-responsive" [src]="imageUrl" [alt]="imageAlt"></div>
            <div class="col-12 col-sm-8 col-lg-12 mt-1">
                <h5 class="">{{wo.weather[0].main}}</h5>
                <small class="mt-0">Especially, in your region will prevail {{ wo.weather[0].description }}.</small>
            </div>
            <hr class="headers">
        </div>
        <div class="card-text mt-2">
            <p class="" *ngIf="wo?.main?.temp">The temperature will be <span class="font-weight-bold preety-text ">{{ wo.main.temp }} <sup class="font-weight-bold preety-text ">o</sup>C</span></p>
            <p class="" *ngIf="wo?.wind?.speed">The windSpeed will be <span class="font-weight-bold preety-text ">{{ wo.wind.speed }} meter/sec</span></p>
            <p class="" *ngIf="wo?.wind?.deg">The direction will be <span class="font-weight-bold preety-text ">{{ wo.wind.deg | number:'1.0-0' }} degrees</span></p>
            <p class="" *ngIf="wo?.clouds?.all">The cloud percentage will be <span class="font-weight-bold preety-text ">{{ wo.clouds.all }}%</span></p>
            <p class="" *ngIf="wo?.rain && wo?.rain['3h']">The rain volume for the last 3 hours will be <span class="font-weight-bold preety-text ">{{ wo.rain['3h'] | number:'1.0-6' }} mm</span></p>
            <p class="" *ngIf="wo?.snow && wo?.snow['3h']">The snow volume for the last 3 hours will be <span class="font-weight-bold preety-text ">{{ wo.snow['3h'] | number:'1.0-6' }} mm</span></p>
            <p class="" *ngIf="wo?.main?.pressure">The atmospheric pressure will be <span class="font-weight-bold preety-text ">{{ wo.main.pressure }} hPa</span></p>
            <p class="" *ngIf="wo?.main?.humidity">The percentage of humidity will be <span class="font-weight-bold preety-text ">{{ wo.main.humidity }}%</span></p>
            <div class="fireClass">
              <p *ngIf="isIndexAvailable" class="text-center font-weight-bold" >Fire index: <span class="fireIndex">{{ index }}</span> {{indexDescription}}</p>
              <p *ngIf="!isIndexAvailable" class="text-center">Fire index was not found for this region.</p>
            </div>        
        </div> 
    </div>
</div>