a {
    cursor: pointer;
    color: white !important;
}

a:hover{
    color: #ff9f80 !important;
}

.active-link {
    color: #ff9f80 !important;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }

  span {
    color: white !important;

  }
