
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/welcome-page" routerLinkActive="active-link">Decision Support System</a>
  <a class="nav-link" routerLink="/select-area" routerLinkActive="active-link">Draw on Map</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavbar" aria-controls="subNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end mr-3" id="subNavbar">
    <ul class="navbar-nav">
      <li class="nav-item mr-2">
          <a class="nav-link" routerLink="/log-in" routerLinkActive="active-link">Sign In</a>
        </li>
      <li class="nav-item mr-2">
        <a class="nav-link" routerLink="/sign-up" routerLinkActive="active-link">Sign Up</a>
      </li>     
      <!-- <li class="nav-item dropdown mr-auto">
        <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">
          Learn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/the-progress" routerLinkActive="active-link">The Progress</a>
          <a class="dropdown-item" routerLink="/programs" routerLinkActive="active-link">Programs</a>
        </div>
      </li>  -->
    </ul>
  </div>
  
</nav>
